body {
    background-color: black!important;
}
.bg-dark {
    background-color: white!important;
}

.navbar-brand {
    
    color: rgb(140, 139, 139)!important;
}

.nav-link {
    color: rgb(140, 139, 139)!important;
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
}
.head {
    background: white;
    color: black;
    padding: 10px 80px;
    font-weight: bold;
}

thead {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: black;
}

td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: black;
}
td {
/*background: #D8E6F3;*/
  background: white;
  color: black;
}
.box-shadow {
box-shadow: 0 2px 5px 0
rgba(0, 0, 0, 0.5), 0
0,1px 0,1px 0 rgba(0, 0, 0, 1);
}

p {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: black;
    background: white;
    color: black;
    font-size: x-large;
}
.px-2 {
    text-align: right;
}

ul li {
    font-size: 20px;
}
