{% extends 'header.html' %}

{% block title %}
Collections
{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="container">
       <h1 class="display-1 text-center">{{ collection }}</h1>
    </div>
    <br>
    <div class="container">
      <table class="table">
        <thead>
          <tr class="head">
            <th scope="col">kind</th>
            <th scope="col">collection name</th>
            <th scope="col">track name</th>
            <th scope="col">collection price</th>
            <th scope="col">track price</th>
            <th scope="col">release Date</th>
            <th scope="col">track count</th>
            <th scope="col">track number</th>
            <th scope="col">primary genre name</th>
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
          {% if row[1] == collection %}
          <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
            <td>{{row[7]}}</td>
            <td>{{row[8]}}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}
