{% extends 'header.html' %}

{% block title %}
Beatles Collections
{% endblock %}

{% block body %}
<br>
<br>
<div class="container">
<table class="table">
  <thead>
    <tr class="head">
      <th colspan="9">Beatles Collections</th>
    </tr>
  </thead>
  <tbody>
    {% set count = namespace(value=1) %}
    {% for collection in collections %}
      {% if count.value == 1 %}
        <tr scope="row">
      {% endif %}
        <td><a href="collections/{{ collection }}" style="color:#FFF;">{{ collection }}</a></td>
    {% if count.value == 9 %}
      {% set count.value = 1 %}
      </tr>
    {% else %}
      {% set count.value = count.value + 1 %}
    {% endif %}
    {% endfor %}
  </tbody>
</table>
</div>


{% endblock %}
